@using ProjectManagementApplication.Helpers
@using ProjectManagementApplication.Models
@model ProjectManagementApplication.Models.Task

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Task</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Column.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Column.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deadline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Private)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Private)
        </dd>

    </dl>
    @foreach (Image image in Model.Images)
    {
        <img id="@image.ImageId" src="@image.Url">
    }

    @Html.ActionLink("Add Comment", "Create", "Comments", new { taskId = Model.TaskId }, null)
    <div class="col-sm-5">
        @foreach (Comment comment in Model.Comments)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>@comment.Author.Name</strong> <span class="text-muted">commented @TimeHelper.TimeAgo(comment.CreatedDate)</span>
                </div>
                <div class="panel-body">
                    @comment.Content
                </div>
                @if(@User.Identity.Name == comment.UserId.ToString())
                {
                    <div class="panel-footer">
                        @Html.ActionLink("Edit comment", "Edit", "Comments", new {id = comment.CommentId}, null)
                        @Html.ActionLink("Delete comment", "Delete", "Comments", new { id = comment.CommentId }, null)
                    </div>
                }
            </div>
        }
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TaskId }) |
    @Html.ActionLink("Add image", "Upload", "Images", new { id = Model.TaskId }, null)
    @Html.ActionLink("Back to List", "Index")
</p>
