<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project management software</title>
    @Styles.Render("~/bundles/appcss")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Html.Partial("_Navigation")
    <div class="container body-content">
        @RenderBody()
    </div>
    <div class="container-fluid">
        @RenderSection("containerFluid", required: false)
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/appjs")
    @RenderSection("scripts", required: false)
</body>
</html>
