<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/appcss")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="border-bottom box-shadow navbar navbar-expand">
        <div class="container">
            <a class="navbar-brand" href="#">Project management software</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample02">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index","Boards")">Boards</a></li>
                    <li><a href="@Url.Action("Index","Columns")">Columns</a></li>
                    <li><a href="@Url.Action("Index","Tasks")">Tasks</a></li>
                </ul>
                <form class="form-inline my-2 my-md-0">
                    <input class="form-control" type="text" placeholder="Search">
                </form>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/appjs")
    @RenderSection("scripts", required: false)
</body>
</html>
