@model ProjectManagementApplication.Models.Board

<div id="board-header" class="row">
    <div class="col-md-9">
        <h1>@Model.Title</h1>
        <input id="board-id" type="hidden" value="@Model.BoardId" />
        <h4>
            Type: @Model.BoardType, Administrator: @Model.User.Name
            @if (ViewBag.Administrator)
            {
                @Html.ActionLink("Board management", "Edit", new { id = Model.BoardId })
            }
        </h4>
    </div>
    <div class="col-md-3">
        <div id="favorite-container">
            <div id="fav-true">
                <button class="btn btn-lg btn-block btn-warning">
                    <span class="glyphicon  glyphicon glyphicon-star" aria-hidden="true"></span>Favourite
                </button>
            </div>
            <div id="fav-false">
                <button class="btn btn-lg btn-block btn-default">
                    <span class="glyphicon  glyphicon glyphicon-star-empty" aria-hidden="true"></span>Favourite
                </button>
            </div>
        </div>
        <a class="add-column-btn btn btn-block btn-primary btn-sm" href="@Url.Action("Create", "Tasks", new {boardId = Model.BoardId})">
            Add task
        </a>
        <a class="add-column-btn btn btn-block btn-primary btn-sm" href="@Url.Action("Create", "Columns", new {boardId = Model.BoardId})">
            Add column
        </a>
    </div>
</div>

<div id="board-search-container" class="row">
    <div class="col-md-9">
        <div id="selector-buttons" class="btn-group btn-group-justified">
            <a id="all-tasks" class="btn btn-default active">All tasks</a>
            <a id="assigned-tasks" class="btn btn-default">Assigned to me</a>
            <a id="created-tasks" class="btn btn-default">Created by me</a>
        </div>
    </div>
    <div class="col-md-3">
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#board-search-details-container">Advanced search</button>
    </div>
</div>

<div id="board-search-details-container" class="collapse row">
    <div class="col-md-4">
        <h3>Task name</h3>
        <form class="form-horizontal" role="form">
            <input id="task-name-search" placeholder="Enter task name" type="text" class="form-control">
        </form>
    </div>
    <div class="col-md-4">
        <h3>Deadline</h3>
        <div id="deadline-bt-group" class="btn-group btn-group-sm btn-group-vertical">
            <a href="#" id="all" class="btn btn-default active">All</a>
            <a href="#" id="overdue" class="btn btn-default">Overdue</a>
            <a href="#" id="tomorrow" class="btn btn-default">Due tomorrow</a>
            <a href="#" id="due-next-week" class="btn btn-default">Due next week</a>
            <a href="#" id="no-end-date" class="btn btn-default">No end date</a>
        </div>
    </div>
    <div class="col-md-4">
        <h3>Person</h3>
        <form class="form-horizontal" role="form">
            <input id="task-person-name-search" placeholder="Person created or working on the task" type="text" class="form-control">
        </form>
    </div>
</div>

@section containerFluid
{
    <div id="board-column-container" class="row row-eq-height">
    </div>
}
@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>

    <script type="text/javascript" src="@Url.Content("/Scripts/myscripts/favourite.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/myscripts/tasksearch.js")"></script>
}

