@model IEnumerable<ProjectManagementApplication.Models.Board>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Title", "Index", new { sortType = ViewBag.TitleParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BoardType)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoardType)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.BoardId }) |
                @Html.ActionLink("Details", "Details", new { id = item.BoardId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.BoardId })
            </td>
        </tr>
    }

</table>