@model ProjectManagementApplication.Models.TeamMember

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TeamMember</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Board.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Board.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TeamMemberId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
