@model ProjectManagementApplication.Models.TeamMember

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>TeamMember</h4>
        @Html.HiddenFor(model => model.TeamMemberId)
        <h3>Are you sure you want to remove @Model.User.Name from @Model.Board.Title?</h3>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Remove" class="btn btn-danger" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
