@using ProjectManagementApplication.Models
@model ProjectManagementApplication.ViewModels.HomePageBoards

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">
                    Select board
                    <br>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>Private boards</h2>
                <ul class="list-group">
                    @foreach (Board board in Model.PrivateBoards)
                    {
                        <a href="@Url.Action("Details","Boards",new {id = board.BoardId})"><li class="list-group-item">@board.Title</li></a>
                    }
                </ul>
                <a class="btn btn-primary">Add new private board</a>
            </div>
            <div class="col-md-4">
                <h2>Team boards</h2>
                <ul class="list-group">
                    @foreach (Board board in Model.TeamBoards)
                    {
                        <a href="@Url.Action("Details","Boards",new {id = board.BoardId})"><li class="list-group-item">@board.Title</li></a>
                    }
                </ul>
            </div>
            <div class="col-md-4">
                <h2>Public boards</h2>
                <ul class="list-group">
                    @foreach (Board board in Model.PublicBoards)
                    {
                        <a href="@Url.Action("Details","Boards",new {id = board.BoardId})"><li class="list-group-item">@board.Title</li></a>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>