@using ProjectManagementApplication.Models
@model ProjectManagementApplication.ViewModels.HomePageBoards

<div class="section">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 h1">
                Select board
            </div>
            <div class="col-md-4">
                @Html.ActionLink("Create board","Create","Boards",null,new {@class = "btn btn-lg btn-info" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h2>Favourite boards</h2>
                <ul class="list-group">
                    @foreach (Board board in Model.Favourite)
                    {
                        <a href="@Url.Action("Details","Boards",new {id = board.BoardId})"><li class="list-group-item">@board.Title</li></a>
                    }
                </ul>
            </div>
            <div class="col-md-3">
                <h2>Private boards</h2>
                <ul class="list-group">
                    @foreach (Board board in Model.PrivateBoards)
                    {
                        <a href="@Url.Action("Details","Boards",new {id = board.BoardId})"><li class="list-group-item">@board.Title</li></a>
                    }
                    <a href="@Url.Action("Index","Boards",new {currentFilter = "Private"})"><li class="list-group-item active">All private boards</li></a>
                </ul>
            </div>
            <div class="col-md-3">
                <h2>Team boards</h2>
                <ul class="list-group">
                    @foreach (Board board in Model.TeamBoards)
                    {
                        <a href="@Url.Action("Details","Boards",new {id = board.BoardId})"><li class="list-group-item">@board.Title</li></a>
                    }
                    <a href="@Url.Action("Index","Boards",new {currentFilter = "Team"})"><li class="list-group-item active">All team boards</li></a>
                </ul>
            </div>
            <div class="col-md-3">
                <h2>Public boards</h2>
                <ul class="list-group">
                    @foreach (Board board in Model.PublicBoards)
                    {
                        <a href="@Url.Action("Details","Boards",new {id = board.BoardId})"><li class="list-group-item">@board.Title</li></a>
                    }
                    <a href="@Url.Action("Index","Boards",new {currentFilter = "Public"})"><li class="list-group-item active">All public boards</li></a>
                </ul>
            </div>
        </div>
    </div>
</div>