@using ProjectManagementApplication.Helpers
@using ProjectManagementApplication.Models
@model ProjectManagementApplication.Models.Task

<div class="row">
    <div class="col-sm-8">
        <h1>@Html.DisplayNameFor(model => model.Title)</h1>
    </div>
    <div id="favorite-container" class="col-sm-4">
        @Html.HiddenFor(t => t.Column.BoardId, new { @id = "board-id" })
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        <h2>Details</h2>
        <table class="pull-left col-sm-8 ">
            <tbody>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.Title)</strong></td>
                    <td>@Html.DisplayFor(model => model.Title)</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.Description)</strong></td>

                    <td>@Html.DisplayFor(model => model.Description)</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.Deadline)</strong></td>
                    <td>@Html.DisplayFor(model => model.Deadline)</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.CreatedBy)</strong></td>
                    <td>@Html.DisplayFor(model => model.CreatedByUser.Name)</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.AssignedTo)</strong></td>
                    <td>@Html.DisplayFor(model => model.AssignedToUser.Name)</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.Column)</strong></td>
                    <td>@Html.DisplayFor(model => model.Column.Title)</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.Column.Board)</strong></td>
                    <td>@Html.DisplayFor(model => model.Column.Board.Title)</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-4">
        <h2>Images</h2>
        @if (Model.Images.Count == 0)
        {
            <p>No images found.</p>
        }
        @foreach (Image image in Model.Images)
        {
            <div class="task-image-container text-center col-xs-4">
                <a href="@image.Url" data-lightbox="task-set">
                    <img id="@image.ImageId" class="img-responsive" data-lightbox="image-@image.ImageId" src="@image.Url">
                </a>
                @Html.ActionLink("Remove image", "Delete", "Images", new { id = image.ImageId }, new { @class = "" })
            </div>
        }
        <div class="col-sm-4">
            @Html.ActionLink("Add image", "Upload", "Images", new { id = Model.TaskId }, new { @class = "btn btn-success" })
        </div>
    </div>
</div>
<div class="row">
    <a href="@Url.Action("Details", "Boards", new { id = Model.Column.BoardId })" class="btn btn-primary">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        Back to board
    </a>
    @Html.ActionLink("Edit task", "Edit", new { id = Model.TaskId }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Delete task", "Delete", new { id = Model.TaskId }, new { @class = "btn btn-danger" })
</div>
<div class="row">
    <div class="col-sm-8">
        <h2>Comments</h2>
        @foreach (Comment comment in Model.Comments)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>@comment.Author.Name</strong> <span class="text-muted">commented @TimeHelper.TimeAgo(comment.CreatedDate)</span>
                </div>
                <div class="panel-body">
                    @comment.Content
                </div>
                @if (@User.Identity.Name == comment.UserId.ToString())
                {
                    <div class="panel-footer">
                        @Html.ActionLink("Edit comment", "Edit", "Comments", new { id = comment.CommentId }, null)
                        @Html.ActionLink("Delete comment", "Delete", "Comments", new { id = comment.CommentId }, null)
                    </div>
                }
            </div>
        }
        @Html.ActionLink("Add Comment", "Create", "Comments", new { taskId = Model.TaskId }, new { @class = "btn btn-default" })
    </div>
</div>